.text-2 {
  font-size: 2px;
}

.text-4 {
  font-size: 4px;
}

.text-6 {
  font-size: 6px;
}

.text-8 {
  font-size: 8px;
}

.text-10 {
  font-size: 10px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}

.text-26 {
  font-size: 26px;
}

.text-28 {
  font-size: 28px;
}

.text-30 {
  font-size: 30px;
}

.text-32 {
  font-size: 32px;
}

.text-34 {
  font-size: 34px;
}

.text-36 {
  font-size: 36px;
}

.text-38 {
  font-size: 38px;
}

.text-40 {
  font-size: 40px;
}

.text-42 {
  font-size: 42px;
}

.text-44 {
  font-size: 44px;
}

.text-46 {
  font-size: 46px;
}

.text-48 {
  font-size: 48px;
}

.text-50 {
  font-size: 50px;
}

.text-52 {
  font-size: 52px;
}

.text-54 {
  font-size: 54px;
}

.text-56 {
  font-size: 56px;
}

.text-58 {
  font-size: 58px;
}

.text-60 {
  font-size: 60px;
}

.text-62 {
  font-size: 62px;
}

.text-64 {
  font-size: 64px;
}

.text-66 {
  font-size: 66px;
}

.text-68 {
  font-size: 68px;
}

.text-70 {
  font-size: 70px;
}

.text-72 {
  font-size: 72px;
}

.text-74 {
  font-size: 74px;
}

.text-76 {
  font-size: 76px;
}

.text-78 {
  font-size: 78px;
}

.text-80 {
  font-size: 80px;
}

.text-82 {
  font-size: 82px;
}

.text-84 {
  font-size: 84px;
}

.text-86 {
  font-size: 86px;
}

.text-88 {
  font-size: 88px;
}

.text-90 {
  font-size: 90px;
}

.text-92 {
  font-size: 92px;
}

.text-94 {
  font-size: 94px;
}

.text-96 {
  font-size: 96px;
}

.text-98 {
  font-size: 98px;
}

.text-100 {
  font-size: 100px;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

@media (max-width: 575.98px) {
  br {
    display: none;
  }

  .blur, .blur-2, .molecul, .partial-33 {
    width: 10%;
  }

  .text-20 {
    font-size: 16px;
  }

  .text-24 {
    font-size: 18px;
  }

  .text-28 {
    font-size: 20px;
  }

  .text-30 {
    font-size: 24px;
  }

  .text-40 {
    font-size: 24px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1280px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.navbar {
  padding-bottom: 20px;
  padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 15px;
}
.navbar-light .navbar-nav .nav-link.comming-soon {
  position: relative;
}
.navbar-light .navbar-nav .nav-link.comming-soon::before {
  content: "Coming Soon!";
  font-size: 10px;
  font-weight: 700;
  color: #FFD978;
  position: absolute;
  top: -4px;
}

.navbar-brand {
  margin-right: 40px;
}

.btn {
  transition: all 0.3s ease-in;
  border: none;
}
.btn .shadow {
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
}

.btn-rounded {
  border-radius: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-xl {
  font-weight: 700;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-info {
  background-color: #1C57FE;
  border-color: #1C57FE;
}
.btn-info:hover {
  background-color: #0d43da;
}
.btn-info:focus {
  background-color: #0d43da !important;
  box-shadow: 0 0 0 0.2rem #ccdaff !important;
}

.btn-primary {
  background-color: #48DA83;
  border-color: #48DA83;
}
.btn-primary:hover {
  background-color: #18b657;
}
.btn-primary:focus {
  background-color: #18b657 !important;
  box-shadow: 0 0 0 0.2rem #D5F5E4 !important;
}

.btn-light {
  background-color: white;
}
.btn-light:hover {
  background-color: white;
}
.btn-light:focus {
  background-color: white;
}

.btn-token {
  position: relative;
  padding-right: 75px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}
.btn-token.btn-light {
  color: #48DA83;
}
.btn-token.btn-light:hover {
  color: #48DA83;
}
.btn-token.btn-primary {
  color: white;
}
.btn-token.btn-xl {
  padding-right: 105px;
  font-size: 24px;
}
.btn-token .token-icon {
  position: absolute;
  width: 83px;
  height: 70px;
  right: -10px;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  transform: translate(0, -50%);
}
.btn-token .token-icon.lg {
  width: 103px;
  height: 90px;
}

.text-yellow {
  color: #FFD978;
}

.text-primary {
  color: #48DA83 !important;
}

.text-blue {
  color: #1C57FE;
}

.lh-1-0 {
  line-height: 1;
}

.lh-1-5 {
  line-height: 1.5;
}

.lh-1-75 {
  line-height: 1.75;
}

.lh-2-0 {
  line-height: 2;
}

main {
  margin-top: 148px;
}
@media screen and (max-width: 768px) {
  main {
    margin-top: 167px;
  }
}
@media screen and (max-width: 375px) {
  main {
    margin-top: 190px;
  }
}

.notification {
  background-color: #D5F5E4;
  font-size: 15px;
  padding: 16px 0;
}
.notification .container {
  display: flex;
  align-items: center;
}
.notification .badge {
  background-color: #48DA83;
  color: white;
  font-weight: 700;
  border-radius: 100px;
  height: 26px;
  width: 64px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.box {
  background-color: #48DA83;
  padding: 32px;
  border-radius: 40px;
}

.typo-title {
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .typo-title {
    font-size: 30px;
  }
}

section#hero {
  position: relative;
  background-color: #48DA83;
  min-height: 510px;
}
@media screen and (max-width: 768px) {
  section#hero {
    padding: 30px 0 0 0;
    min-height: 0;
  }
}
section#hero .big-title {
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  section#hero .big-title {
    font-size: 32px;
  }
}
section#hero .rounded-bottom {
  position: absolute;
  width: 100%;
  bottom: -1px;
}
section#hero .row-img {
  max-width: 90%;
  margin: 0 auto;
}
section#hero .row-img .left {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
section#hero .row-img .left img {
  width: 50%;
  padding-bottom: 50px;
}
@media screen and (max-width: 992px) {
  section#hero .row-img .left img {
    width: 100%;
    padding-bottom: 0;
  }
}
section#hero .row-img .right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
section#hero .row-img .right img {
  width: 50%;
}
@media screen and (max-width: 992px) {
  section#hero .row-img .right img {
    width: 100%;
  }
}
section#hero .blur {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

section#about-us {
  padding: 50px 0;
}
section#about-us .title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  background-color: #48DA83;
  border-radius: 100px;
  padding: 16px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  section#about-us .title {
    font-size: 20px;
  }
}
section#about-us .wrapper {
  position: relative;
}
section#about-us .wrapper .molecul {
  position: absolute;
  top: 0;
  left: 0;
}
section#about-us .wrapper .partial-33 {
  position: absolute;
  bottom: 0;
  left: 0;
}

section#wallet {
  padding: 50px 0;
}
section#wallet .btn-playstore {
  background-color: #48DA83;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  padding: 16px 38px;
}

section#digitalFamily {
  padding: 50px 0;
  position: relative;
}
section#digitalFamily .blur {
  position: absolute;
  top: 0;
  left: 0;
}
section#digitalFamily .blur-2 {
  position: absolute;
  right: 40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  section#digitalFamily .blur-2 {
    right: 0;
  }
}
section#digitalFamily .img-family {
  width: 60%;
}
@media screen and (max-width: 768px) {
  section#digitalFamily .img-family {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  section#digitalFamily .img-token {
    width: 40%;
  }
}
section#digitalFamily .box {
  min-height: 474px;
}
@media screen and (max-width: 768px) {
  section#digitalFamily .box {
    min-height: 0;
  }
}

section#benefit {
  position: relative;
  padding: 50px 0 150px 0;
}
section#benefit .box {
  min-height: 592px;
}
@media screen and (max-width: 768px) {
  section#benefit .box {
    min-height: 0;
  }
}
@media screen and (max-width: 768px) {
  section#benefit .box img {
    width: 30%;
  }
}
section#benefit .molecul {
  position: absolute;
  right: 0;
  bottom: 0;
}

section#teams {
  position: relative;
  padding: 80px 0 50px 0;
}
section#teams .blur {
  position: absolute;
  top: 0;
  left: 0;
}
section#teams .manajemen {
  border-right: 5px solid #48DA83;
}
@media screen and (max-width: 768px) {
  section#teams .manajemen {
    border-right: 0;
  }
}
section#teams .user {
  display: flex;
}
section#teams .user:not(:last-child) {
  margin-bottom: 60px;
}
section#teams .avatar {
  width: 110px;
  height: 110px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

section#roadmap {
  padding: 50px 0 120px 0;
}
@media screen and (max-width: 768px) {
  section#roadmap {
    padding-bottom: 0;
  }
}
section#roadmap .hori-timeline .events {
  border-bottom: 3px solid black;
}
@media screen and (max-width: 768px) {
  section#roadmap .hori-timeline .events {
    border-bottom: 0;
  }
}
section#roadmap .hori-timeline .events .event-list {
  position: relative;
  padding: 0 20px 70px 20px;
  margin-right: 0;
  display: inline-block;
  width: 24%;
}
@media screen and (max-width: 768px) {
  section#roadmap .hori-timeline .events .event-list {
    display: block;
    width: 100%;
    padding: 100px 0 0 0;
  }
}
section#roadmap .hori-timeline .events .event-list--content {
  background-color: #48DA83;
  border-radius: 20px;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  section#roadmap .hori-timeline .events .event-list--content {
    margin-bottom: 50px;
  }
}
section#roadmap .hori-timeline .events .event-list--content ul {
  padding-inline-start: 20px;
}
section#roadmap .hori-timeline .events .event-list .event-date {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background-color: #FFD978;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  section#roadmap .hori-timeline .events .event-list .event-date {
    top: 0;
  }
}

section#buy {
  padding: 50px 0;
}

section#contact-us {
  position: relative;
  padding: 50px 0;
  margin-bottom: 50px;
}
section#contact-us .molecul {
  position: absolute;
  top: 50px;
  left: 0;
}
section#contact-us .blur {
  position: absolute;
  bottom: 0;
  right: 40px;
}
section#contact-us .img-contact {
  width: 70%;
}

footer {
  background-color: #1A1919;
  padding: 45px 0 0 0;
}
footer address {
  color: rgba(185, 185, 188, 0.72);
  font-size: 12px;
  line-height: 1.75;
}
footer .footer-bottom {
  background-color: black;
  padding: 20px 0;
  color: rgba(185, 185, 188, 0.72);
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
